/* Webfont: FolioBT-Medium */@font-face {
    font-family: 'FolioMdBT';
    src: url('FOLIOM.eot'); /* IE9 Compat Modes */
    src: url('FOLIOM.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('FOLIOM.woff') format('woff'), /* Modern Browsers */
         url('FOLIOM.woff2') format('woff2'), /* Modern Browsers */
         url('FOLIOM.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

