/* Webfont: RaglanPunchStd-UB */@font-face {
    font-family: 'SBT-RaglanPunchStdUB';
    src: url('raglan-punch.eot'); /* IE9 Compat Modes */
    src: url('raglan-punch.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('raglan-punch.woff') format('woff'), /* Modern Browsers */
         url('raglan-punch.woff2') format('woff2'), /* Modern Browsers */
         url('raglan-punch.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

