@media only screen and (min-width:642px) {
  /* hi-res laptops and desktops */
  #loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 201, 224, 1); /* Adjust opacity if needed */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000; /* Ensure it is above other elements */
}

.loading-animation {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: space-between;
    animation: loading-animation 2s ease-in infinite; /* Adjust the timing and easing as needed */
}

.loading-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.top-rect, .bottom-rect {
    background-color: #F31C29;
    margin: 0;
}

.top-rect {
    width: 10vw;
    height: 80vh;
    transform: rotate(-45deg);
}

.bottom-rect {
    width: 10vw;
    height: 80vh;
    transform: rotate(45deg);
}

@keyframes loading-animation {
    from {
        transform: translateX(-120%);
    }
    to {
        transform: translateX(200%);
    }
}

.curtain {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 50%;
    background-color: #FFC9E0; /* Same as your loading screen background */
    z-index: 1001; /* Above loading screen content */
    visibility: hidden;
}

.left-curtain {
    left: 0;
    transform: translateX(0%);
}

.right-curtain {
    right: 0;
    transform: translateX(0%);
}

@keyframes left-curtain-open {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-100%);
    }
}

@keyframes right-curtain-open {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(100%);
    }
}

.left-curtain.open {
    visibility: visible;
    animation: left-curtain-open 2s forwards;
}

.right-curtain.open {
    visibility: visible;
    animation: right-curtain-open 2s forwards;
}

.hide-arrows {
    visibility: hidden;
}



  header {
      overflow: hidden;
      height: 100vh;
  }
  body {
    height: 100vh;
    width: 100vw;
    background-color: #F31C29;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
  }
  body::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
  }
  .navbar-left {
    overflow: hidden;
    position: fixed;
    width: 300%;
    z-index: 2;
    
    -moz-transform: rotate(-90deg) translateX(-60vw);
    -moz-transform-origin: top left;
    -webkit-transform: rotate(-90deg) translateX(-60vw);
    -webkit-transform-origin: top left;
    transform: rotate(-90deg) translateX(-60vw);
    transform-origin: top left;

    -moz-animation: my-animation 15s linear infinite;
    -webkit-animation: my-animation 15s linear infinite;
    animation: my-animation 15s linear infinite;
  }

  /* for Firefox */
  @-moz-keyframes my-animation {
  from {-moz-transform: rotate(-90deg) translateX(-60vw);
        -moz-transform-origin: top left; }
  to {  -moz-transform: rotate(-90deg) translateX(-172vw);
        -moz-transform-origin: top left; }
  }

  /* for Chrome */
  @-webkit-keyframes my-animation {
  from {-webkit-transform: rotate(-90deg) translateX(-60vw);
        -webkit-transform-origin: top left; }
  to {  -webkit-transform: rotate(-90deg) translateX(-172vw);
        -webkit-transform-origin: top left; }
  }

  @keyframes my-animation {
  from {
    -moz-transform: rotate(-90deg) translateX(-60vw);
    -moz-transform-origin: top left;
    -webkit-transform: rotate(-90deg) translateX(-60vw);
    -webkit-transform-origin: top left;
    transform: rotate(-90deg) translateX(-60vw);
    transform-origin: top left;
  }
  to {
    -moz-transform: rotate(-90deg) translateX(-172vw);
    -moz-transform-origin: top left;
    -webkit-transform: rotate(-90deg) translateX(-172vw);
    -webkit-transform-origin: top left;
    transform: rotate(-90deg) translateX(-172vw);
    transform-origin: top left;
  }
  }
  .navbar-left a {
    float: left;
    display: block;
    text-align: center;
    font-family: Shatter;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 7vw;
    padding: 1vw;
  }
  .navbar-right {
    overflow: hidden;
    position: fixed;
    width: 300%;
    z-index: 2;
        
    -moz-transform: rotate(90deg) translateX(0vw) translateY(-100vw);
    -moz-transform-origin: top left;
    -webkit-transform: rotate(90deg) translateX(0vw) translateY(-100vw);
    -webkit-transform-origin: top left;
    transform: rotate(90deg) translateX(0vw) translateY(-100vw);
    transform-origin: top left;

    -moz-animation: my-animation2 15s linear infinite;
    -webkit-animation: my-animation2 15s linear infinite;
    animation: my-animation2 15s linear infinite;
  }

  /* for Firefox */
  @-moz-keyframes my-animation2 {
  from {-moz-transform: rotate(90deg) translateX(0vw) translateY(-100vw);
        -moz-transform-origin: top left; }
  to {  -moz-transform: rotate(90deg) translateX(-112vw) translateY(-100vw);
        -moz-transform-origin: top left; }
  }

  /* for Chrome */
  @-webkit-keyframes my-animation2 {
  from {-webkit-transform: rotate(90deg) translateX(0vw) translateY(-100vw);
        -webkit-transform-origin: top left; }
  to {  -webkit-transform: rotate(90deg) translateX(-112vw) translateY(-100vw);
        -webkit-transform-origin: top left; }
  }

  @keyframes my-animation2 {
  from {
    -moz-transform: rotate(90deg) translateX(0vw) translateY(-100vw);
    -moz-transform-origin: top left;
    -webkit-transform: rotate(90deg) translateX(0vw) translateY(-100vw);
    -webkit-transform-origin: top left;
    transform: rotate(90deg) translateX(0vw) translateY(-100vw);
    transform-origin: top left;
  }
  to {
    -moz-transform: rotate(90deg) translateX(-112vw) translateY(-100vw);
    -moz-transform-origin: top left;
    -webkit-transform: rotate(90deg) translateX(-112vw) translateY(-100vw);
    -webkit-transform-origin: top left;
    transform: rotate(90deg) translateX(-112vw) translateY(-100vw);
    transform-origin: top left;
  }
  }
  .navbar-right a {
    float: left;
    display: block;
    text-align: center;
    font-family: Shatter;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 7vw;
    padding: 1vw;
  }
  .homeButton {
      color: #FFC9E0;
      background-color: #F31C29;
  }
  .about {
      color: #F31C29;
      background-color: #FFC9E0;
  }
  .bg {
      width: 100vw;
      height: 100vh;
      transform-origin: top left;
      transform: translateY(-100vh);
      position: absolute;
      z-index: 1;
      overflow-x: hidden;
      scroll-behavior: smooth;
  }
  .bg h1{
      font-family: Folio;
      font-weight: bold;
      font-size: 3.5vw;
      color: #FFC9E0;
      margin-top: 10vh;
      margin-bottom: 8vh;
      margin-left: 15vw;
      text-transform: uppercase;
  }
  .bg h2 {
      font-family: Folio;
      font-weight: bold;
      font-size: 2vw;
      color: #FFC9E0;
      margin-left: 15vw;
      margin-right: 15vw;
      line-height: 2.5vw;
      margin-top: 8vh;
  }
  .introduction {
      display: flex;
      flex-direction: row;
      width: 70vw;
      margin-left: 15vw;
      margin-right: 15vw;
  }
  .introduction h2{
    width: 32.5vw;
    margin-left: 0vw;
    margin-bottom: 8vh;
    margin-top: 0vh;
  }
  .left-h2 {
    width: 32.5vw;
    display: flex;
    flex-direction: column;
    margin-right: 5vw;
  }
  .introduction img{
    margin-top: -16vh;
  }
  /* .left-h2 {
    display: flex;
    flex-direction: column;
  } */
  .caps {
      text-transform: uppercase;
  }
  .bg a {
      padding-bottom: 1vh;
      display: inline-block;
      position: relative;
      text-decoration: none;
      color: #FFC9E0;
  }
  .bg a:after {
      content: '';
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 0.4vw;
      bottom: 0;
      left: 0;
      background-color: #FFC9E0;
      transform-origin: bottom right;
      transition: transform 0.25s ease-out;
  }
  .bg a:hover:after {
      transform: scaleX(1);
      transform-origin: bottom left;
  }
  #last {
      padding-bottom: 10vh;
      line-height: 3vw;
  }
  img {
      width: 32.5vw;  
      margin-top: -4.5vw; 
      margin-right: 15vw; 
      margin-bottom: 10vh;
  }
  .tablet {
    display: none;
  }
  .mobile{
    display: none;
  }
  @font-face {
      font-family: Folio;
      src: url(../assets/fonts/Folio-Bold.woff);
      font-weight: bold;
  }
  @font-face {
      font-family: Folio;
      src: url(../assets/fonts/FOLIOM.woff);
      font-weight: 500;
  }
  @font-face {
      font-family: Shatter;
      src: url(../assets/fonts/Shatter_Plain.woff);
  }
}
@media only screen and (max-width:641px) {
  .navbar-left {
      overflow: hidden;
      position: fixed;
      width: 800%;
      z-index: 2;
      
      -moz-transform: translateX(-10vh);
      -moz-transform-origin: top left;
      -webkit-transform: translateX(-10vh);
      -webkit-transform-origin: top left;
      transform: translateX(-10vh);
      transform-origin: top left;
    
      -moz-animation: my-animation 15s linear infinite;
      -webkit-animation: my-animation 15s linear infinite;
      animation: my-animation 15s linear infinite;
  }
  
  /* for Firefox */
  @-moz-keyframes my-animation {
    from {-moz-transform: translateX(-10vh);
          -moz-transform-origin: top left; }
    to {  -moz-transform: translateX(-142vh);
          -moz-transform-origin: top left; }
  }
  
  /* for Chrome */
  @-webkit-keyframes my-animation {
    from {-webkit-transform: translateX(-10vh);
          -webkit-transform-origin: top left; }
    to {  -webkit-transform: translateX(-142vh);
          -webkit-transform-origin: top left; }
  }
  
  @keyframes my-animation {
    from {
      -moz-transform: translateX(-10vh);
      -moz-transform-origin: top left;
      -webkit-transform: translateX(-10vh);
      -webkit-transform-origin: top left;
      transform: translateX(-10vh);
      transform-origin: top left;
    }
    to {
      -moz-transform: translateX(-142vh);
      -moz-transform-origin: top left;
      -webkit-transform: translateX(-142vh);
      -webkit-transform-origin: top left;
      transform: translateX(-142vh);
      transform-origin: top left;
    }
  }
  .navbar-left a {
      float: left;
      display: block;
      text-align: center;
      font-family: Shatter;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 8vh;
      padding: 1.5vh;
  }
  .navbar-right {
      overflow: hidden;
      position: fixed;
      width: 800%;
      z-index: 2;
          
      -moz-transform: translateX(-132vh) translateY(89vh);
      -moz-transform-origin: bottom left;
      -webkit-transform: translateX(-132vh) translateY(89vh);
      -webkit-transform-origin: bottom left;
      transform: translateX(-132vh) translateY(89vh);
      transform-origin: bottom left;
    
      -moz-animation: my-animation2 15s linear infinite;
      -webkit-animation: my-animation2 15s linear infinite;
      animation: my-animation2 15s linear infinite;
  }
  
  /* for Firefox */
  @-moz-keyframes my-animation2 {
    from {-moz-transform: translateX(-132vh) translateY(89vh);
          -moz-transform-origin: bottom left; }
    to {  -moz-transform: translateX(0vh) translateY(89vh);
          -moz-transform-origin: bottom left; }
  }
  
  /* for Chrome */
  @-webkit-keyframes my-animation2 {
    from {-webkit-transform: translateX(-132vh) translateY(89vh);
          -webkit-transform-origin: bottom left; }
    to {  -webkit-transform: translateX(0vh) translateY(89vh);
          -webkit-transform-origin: bottom left; }
  }
  
  @keyframes my-animation2 {
    from {
      -moz-transform: translateX(-132vh) translateY(89vh);
      -moz-transform-origin: bottom left;
      -webkit-transform: translateX(-132vh) translateY(89vh);
      -webkit-transform-origin: bottom left;
      transform: translateX(-132vh) translateY(89vh);
      transform-origin: bottom left;
    }
    to {
      -moz-transform: translateX(0vh) translateY(89vh);
      -moz-transform-origin: bottom left;
      -webkit-transform: translateX(0vh) translateY(89vh);
      -webkit-transform-origin: bottom left;
      transform: translateX(0vh) translateY(89vh);
      transform-origin: bottom left;
    }
  }
  .navbar-right a {
      float: left;
      display: block;
      text-align: center;
      font-family: Shatter;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 8vh;
      padding: 1.5vh;
  }
  .bg h1{
    font-size: 5vh;
    margin-top: 0vh;
    margin-left: 10vw;
    margin-bottom: 0vh;
  }
  #first {
    margin-top: 17vh;
  }
  .bg h2 {
      font-size: 2vh;
      line-height: 3vh;
      margin-left: 10vw;
      margin-top: 2vh;
      margin-bottom: 3vh;
  }
  .introduction {
    display: flex;
    flex-direction: column;
    width: 80vw;
    float: left;
  }
  .introduction h2 {
    margin-right: 10vw;
    width: 80vw;
    margin-left: 10vw;
    margin-bottom: 3vh;
    margin-top: 2vh;
  }
  .tablet {
    display: none;
  }
  img {
    width: 80vw;
    height: 102vw;
    margin-top: 0vh;
    margin-left: 10vw;
    margin-bottom: 0vh;
  }
  .break {
    display: none;
  }
  .caps {
    margin-left: -10vw;
  }
  #last {
    padding-bottom: 20vh;
    margin-left: 10vw;
    margin-right: 0vw;
  }
  .bg {
    display: flex;
    flex-direction: column;
  }
  .bg a:after {
    height: 0.5vh;
  }
  .mobile {
    display: inline;
  }
  .ebalo img{
    margin-bottom: 20vh;
  }
  .left-h2 {
    margin-bottom: 5vh;
  }
  .left-h2 h2 {
    margin-bottom: 3vh;
    margin-top: 3vh;
  }
}