@media only screen and (min-width:1281px) {
  /* hi-res laptops and desktops */  
  
  body {
      background-color: #3b3b3b;
      height: 100%;
      width: 100%;
      overflow: hidden;
      -ms-overflow-style: none;  /* Internet Explorer 10+ */
      scrollbar-width: none;  /* Firefox */
      position: absolute;
  }
  body::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
  }
  .scroll-container {
      overflow-y: scroll;
      position: relative;
      transform: translateY(-100vh);
      width: 100%;
      height: 100%;
      padding-top: 100vh;
  }
  header {
      overflow: hidden;
      height: 100vh;
  }
  .navbar-left {
    overflow: hidden;
    position: fixed;
    width: 300%;
    z-index: 2;
    
    -moz-transform: rotate(-90deg) translateX(-60vw);
    -moz-transform-origin: top left;
    -webkit-transform: rotate(-90deg) translateX(-60vw);
    -webkit-transform-origin: top left;
    transform: rotate(-90deg) translateX(-60vw);
    transform-origin: top left;

    -moz-animation: my-animation 15s linear infinite;
    -webkit-animation: my-animation 15s linear infinite;
    animation: my-animation 15s linear infinite;
  }

  /* for Firefox */
  @-moz-keyframes my-animation {
  from {-moz-transform: rotate(-90deg) translateX(-60vw);
        -moz-transform-origin: top left; }
  to {  -moz-transform: rotate(-90deg) translateX(-172vw);
        -moz-transform-origin: top left; }
  }

  /* for Chrome */
  @-webkit-keyframes my-animation {
  from {-webkit-transform: rotate(-90deg) translateX(-60vw);
        -webkit-transform-origin: top left; }
  to {  -webkit-transform: rotate(-90deg) translateX(-172vw);
        -webkit-transform-origin: top left; }
  }

  @keyframes my-animation {
  from {
    -moz-transform: rotate(-90deg) translateX(-60vw);
    -moz-transform-origin: top left;
    -webkit-transform: rotate(-90deg) translateX(-60vw);
    -webkit-transform-origin: top left;
    transform: rotate(-90deg) translateX(-60vw);
    transform-origin: top left;
  }
  to {
    -moz-transform: rotate(-90deg) translateX(-172vw);
    -moz-transform-origin: top left;
    -webkit-transform: rotate(-90deg) translateX(-172vw);
    -webkit-transform-origin: top left;
    transform: rotate(-90deg) translateX(-172vw);
    transform-origin: top left;
  }
  }
  .navbar-left a {
    float: left;
    display: block;
    text-align: center;
    font-family: Shatter;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 7vw;
    padding: 1vw;
  }
  .navbar-right {
    overflow: hidden;
    position: fixed;
    width: 300%;
    z-index: 2;
        
    -moz-transform: rotate(90deg) translateX(0vw) translateY(-100vw);
    -moz-transform-origin: top left;
    -webkit-transform: rotate(90deg) translateX(0vw) translateY(-100vw);
    -webkit-transform-origin: top left;
    transform: rotate(90deg) translateX(0vw) translateY(-100vw);
    transform-origin: top left;

    -moz-animation: my-animation2 15s linear infinite;
    -webkit-animation: my-animation2 15s linear infinite;
    animation: my-animation2 15s linear infinite;
  }

  /* for Firefox */
  @-moz-keyframes my-animation2 {
  from {-moz-transform: rotate(90deg) translateX(0vw) translateY(-100vw);
        -moz-transform-origin: top left; }
  to {  -moz-transform: rotate(90deg) translateX(-112vw) translateY(-100vw);
        -moz-transform-origin: top left; }
  }

  /* for Chrome */
  @-webkit-keyframes my-animation2 {
  from {-webkit-transform: rotate(90deg) translateX(0vw) translateY(-100vw);
        -webkit-transform-origin: top left; }
  to {  -webkit-transform: rotate(90deg) translateX(-112vw) translateY(-100vw);
        -webkit-transform-origin: top left; }
  }

  @keyframes my-animation2 {
  from {
    -moz-transform: rotate(90deg) translateX(0vw) translateY(-100vw);
    -moz-transform-origin: top left;
    -webkit-transform: rotate(90deg) translateX(0vw) translateY(-100vw);
    -webkit-transform-origin: top left;
    transform: rotate(90deg) translateX(0vw) translateY(-100vw);
    transform-origin: top left;
  }
  to {
    -moz-transform: rotate(90deg) translateX(-112vw) translateY(-100vw);
    -moz-transform-origin: top left;
    -webkit-transform: rotate(90deg) translateX(-112vw) translateY(-100vw);
    -webkit-transform-origin: top left;
    transform: rotate(90deg) translateX(-112vw) translateY(-100vw);
    transform-origin: top left;
  }
  }
  .navbar-right a {
    float: left;
    display: block;
    text-align: center;
    font-family: Shatter;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 7vw;
    padding: 1vw;
  }
  .homeButton {
      color: #FDAF2D;
      background-color: #3b3b3b;
  }
  .about {
      color: #3b3b3b;
      background-color: #FDAF2D;
  }
  @font-face {
      font-family: Shatter;
      src: url(../assets/fonts/Shatter_Plain.woff);
  }
  @font-face {
    font-family: Inter;
    src: url(../assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
  }
  .wrapper {
      max-width: 75vw;
      display: flex;
      transform: translateY(-100vh) translateX(15vw);
  }
  .wrapper img {
      width: 32.3vw;
      margin-right: 5vw;

  }
  .wrapper2 {
      width: 70vw;
      transform: translateY(-100vh) translateX(15vw);
  }
  .wrapper2 img {
      width: 70vw;
      padding-bottom: 5vh;
  }
  .wrapper2 p {
      font-family: Inter;
      font-weight: 400;
      color: #FDAF2D;
      font-size: 2vw;
      line-height: 3vw;
      padding-bottom: 3vw;
      text-align: center;
  }
  .wrapper2 a {
    font-family: Shatter;
    font-size: 9.5vw;
    color: #FDAF2D;
    text-decoration: none;
    width: 70vw;
  }
  .wrapper2 h1 {
    padding-top: 5vh;
    padding-bottom: 10vh;
    text-align: center;
    font-size: 9.5vw;
    line-height: 8vw;
  }
}
@media only screen and (max-width:641px) {
  .navbar-left {
      overflow: hidden;
      position: fixed;
      width: 800%;
      z-index: 2;
      
      -moz-transform: translateX(-10vh);
      -moz-transform-origin: top left;
      -webkit-transform: translateX(-10vh);
      -webkit-transform-origin: top left;
      transform: translateX(-10vh);
      transform-origin: top left;
    
      -moz-animation: my-animation 15s linear infinite;
      -webkit-animation: my-animation 15s linear infinite;
      animation: my-animation 15s linear infinite;
  }
  
  /* for Firefox */
  @-moz-keyframes my-animation {
    from {-moz-transform: translateX(-10vh);
          -moz-transform-origin: top left; }
    to {  -moz-transform: translateX(-142vh);
          -moz-transform-origin: top left; }
  }
  
  /* for Chrome */
  @-webkit-keyframes my-animation {
    from {-webkit-transform: translateX(-10vh);
          -webkit-transform-origin: top left; }
    to {  -webkit-transform: translateX(-142vh);
          -webkit-transform-origin: top left; }
  }
  
  @keyframes my-animation {
    from {
      -moz-transform: translateX(-10vh);
      -moz-transform-origin: top left;
      -webkit-transform: translateX(-10vh);
      -webkit-transform-origin: top left;
      transform: translateX(-10vh);
      transform-origin: top left;
    }
    to {
      -moz-transform: translateX(-142vh);
      -moz-transform-origin: top left;
      -webkit-transform: translateX(-142vh);
      -webkit-transform-origin: top left;
      transform: translateX(-142vh);
      transform-origin: top left;
    }
  }
  .navbar-left a {
      float: left;
      display: block;
      text-align: center;
      font-family: Shatter;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 8vh;
      padding: 1.5vh;
  }
  .navbar-right {
      overflow: hidden;
      position: fixed;
      width: 800%;
      z-index: 2;
          
      -moz-transform: translateX(-132vh) translateY(89vh);
      -moz-transform-origin: bottom left;
      -webkit-transform: translateX(-132vh) translateY(89vh);
      -webkit-transform-origin: bottom left;
      transform: translateX(-132vh) translateY(89vh);
      transform-origin: bottom left;
    
      -moz-animation: my-animation2 15s linear infinite;
      -webkit-animation: my-animation2 15s linear infinite;
      animation: my-animation2 15s linear infinite;
  }
  
  /* for Firefox */
  @-moz-keyframes my-animation2 {
    from {-moz-transform: translateX(-132vh) translateY(89vh);
          -moz-transform-origin: bottom left; }
    to {  -moz-transform: translateX(0vh) translateY(89vh);
          -moz-transform-origin: bottom left; }
  }
  
  /* for Chrome */
  @-webkit-keyframes my-animation2 {
    from {-webkit-transform: translateX(-132vh) translateY(89vh);
          -webkit-transform-origin: bottom left; }
    to {  -webkit-transform: translateX(0vh) translateY(89vh);
          -webkit-transform-origin: bottom left; }
  }
  
  @keyframes my-animation2 {
    from {
      -moz-transform: translateX(-132vh) translateY(89vh);
      -moz-transform-origin: bottom left;
      -webkit-transform: translateX(-132vh) translateY(89vh);
      -webkit-transform-origin: bottom left;
      transform: translateX(-132vh) translateY(89vh);
      transform-origin: bottom left;
    }
    to {
      -moz-transform: translateX(0vh) translateY(89vh);
      -moz-transform-origin: bottom left;
      -webkit-transform: translateX(0vh) translateY(89vh);
      -webkit-transform-origin: bottom left;
      transform: translateX(0vh) translateY(89vh);
      transform-origin: bottom left;
    }
    }
    .navbar-right a {
        float: left;
        display: block;
        text-align: center;
        font-family: Shatter;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 8vh;
        padding: 1.5vh;
    }
    .wrapper {
      margin-top: 11vh;
      width: 80vw;
      transform: translateY(-100vh) translateX(10vw);
      display: block;
  }
  .wrapper2 h1 {
      padding-bottom: 21vh;
  }
  .wrapper img {
      width: 80vw;
      padding-bottom: 5vh;
  }
  #space {
    margin-top: -11vh;
  }
  .wrapper2 {
      width: 80vw;
      transform: translateY(-100vh) translateX(10vw);
  }
  .wrapper2 img {
      width: 80vw;
      padding-bottom: 5vh;
  }
  .wrapper2 p {
      font-family: Heisei Kaku;
      font-weight: 900;
      color: #ed1a25;
      font-size: 2.5vh;
      line-height: 4.2vh;
      padding-bottom: 5vh;
  }
  .wrapper2 a {
    font-family: Shatter;
    font-size: 10.5vw;
    color: #ed1a25;
    text-decoration: none;
    width: 80vw;
  }
}