@media only screen and (min-width:642px) {
     /* hi-res laptops and desktops */

    body {
        position: relative;
        height: 100vh;
        width: 100vw;
        background-color: #FFC9E0;
        scrollbar-width: none;
    }
    body::-webkit-scrollbar {
        display: none;
    }
    header {
        overflow: hidden;
        height: 0vh;
        position: relative;
    }
    .navbar-left {
        overflow: hidden;
        position: fixed;
        width: 300%;
        z-index: 2;
        
        -moz-transform: rotate(-90deg) translateX(-60vw);
        -moz-transform-origin: top left;
        -webkit-transform: rotate(-90deg) translateX(-60vw);
        -webkit-transform-origin: top left;
        transform: rotate(-90deg) translateX(-60vw);
        transform-origin: top left;
    
        -moz-animation: my-animation 15s linear infinite;
        -webkit-animation: my-animation 15s linear infinite;
        animation: my-animation 15s linear infinite;
    }

    /* for Firefox */
    @-moz-keyframes my-animation {
        from {-moz-transform: rotate(-90deg) translateX(-60vw);
                -moz-transform-origin: top left; }
        to {  -moz-transform: rotate(-90deg) translateX(-172vw);
                -moz-transform-origin: top left; }
    }

    /* for Chrome */
    @-webkit-keyframes my-animation {
        from {-webkit-transform: rotate(-90deg) translateX(-60vw);
                -webkit-transform-origin: top left; }
        to {  -webkit-transform: rotate(-90deg) translateX(-172vw);
                -webkit-transform-origin: top left; }
    }

    @keyframes my-animation {
        from {
            -moz-transform: rotate(-90deg) translateX(-60vw);
            -moz-transform-origin: top left;
            -webkit-transform: rotate(-90deg) translateX(-60vw);
            -webkit-transform-origin: top left;
            transform: rotate(-90deg) translateX(-60vw);
            transform-origin: top left;
        }
        to {
            -moz-transform: rotate(-90deg) translateX(-172vw);
            -moz-transform-origin: top left;
            -webkit-transform: rotate(-90deg) translateX(-172vw);
            -webkit-transform-origin: top left;
            transform: rotate(-90deg) translateX(-172vw);
            transform-origin: top left;
        }
    }
    .navbar-left a {
        float: left;
        display: block;
        text-align: center;
        font-family: Shatter;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 7vw;
        padding: 1vw;
    }
    .navbar-right {
        overflow: hidden;
        position: fixed;
        width: 300%;
        z-index: 2;
            
        -moz-transform: rotate(90deg) translateX(0vw) translateY(-100vw);
        -moz-transform-origin: top left;
        -webkit-transform: rotate(90deg) translateX(0vw) translateY(-100vw);
        -webkit-transform-origin: top left;
        transform: rotate(90deg) translateX(0vw) translateY(-100vw);
        transform-origin: top left;
    
        -moz-animation: my-animation2 15s linear infinite;
        -webkit-animation: my-animation2 15s linear infinite;
        animation: my-animation2 15s linear infinite;
    }

    /* for Firefox */
    @-moz-keyframes my-animation2 {
        from {-moz-transform: rotate(90deg) translateX(0vw) translateY(-100vw);
                -moz-transform-origin: top left; }
        to {  -moz-transform: rotate(90deg) translateX(-112vw) translateY(-100vw);
                -moz-transform-origin: top left; }
    }

    /* for Chrome */
    @-webkit-keyframes my-animation2 {
        from {-webkit-transform: rotate(90deg) translateX(0vw) translateY(-100vw);
                -webkit-transform-origin: top left; }
        to {  -webkit-transform: rotate(90deg) translateX(-112vw) translateY(-100vw);
                -webkit-transform-origin: top left; }
    }

    @keyframes my-animation2 {
        from {
            -moz-transform: rotate(90deg) translateX(0vw) translateY(-100vw);
            -moz-transform-origin: top left;
            -webkit-transform: rotate(90deg) translateX(0vw) translateY(-100vw);
            -webkit-transform-origin: top left;
            transform: rotate(90deg) translateX(0vw) translateY(-100vw);
            transform-origin: top left;
        }
        to {
            -moz-transform: rotate(90deg) translateX(-112vw) translateY(-100vw);
            -moz-transform-origin: top left;
            -webkit-transform: rotate(90deg) translateX(-112vw) translateY(-100vw);
            -webkit-transform-origin: top left;
            transform: rotate(90deg) translateX(-112vw) translateY(-100vw);
            transform-origin: top left;
        }
    }
    .navbar-right a {
        float: left;
        display: block;
        text-align: center;
        font-family: Shatter;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 7vw;
        padding: 1vw;
    }

    .homeButton {
        color: #F31C29;
        background-color: #FFC9E0;
    }
    .about {
        color: #FFC9E0;
        background-color: #F31C29;
    }

    .scroll-container {
        display: flex;
        overflow-x: hidden;
        overflow-y: scroll;
        height: 100vw;
        width: 100vh;
        scrollbar-width: none;
        transform: rotate(-90deg) translateX(-100vh);
        transform-origin: top left;
    }  
    .scroll-container::-webkit-scrollbar {
        display: none;
    }

    .buttons {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;/* Updated: justify-content */
        align-items: center;
        text-align: center;
        white-space: nowrap;
        overflow-x: hidden; /* Updated: Changed from hidden to auto */
        overflow-y: hidden;
        width: 400vw;
        height: 100vh;
        top: 0vh;
        scrollbar-width: none;
        position: absolute;
        transform: rotate(90deg) translateY(-100vh);
        transform-origin: top left;
    }
    .buttons::-webkit-scrollbar {
        display: none;
    }
    button {
        background: none;
        border: 0ch;
    }

    .intro {
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: 10vh;
    }
    .intro h1 {
        font-family: Folio;
        color: #F31C29;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 5vw;
        line-height: 6vw;
    }
    .intro img {
        max-width: 5vw;
        margin-top: 5vh;
        margin-bottom: 5vh;
        margin-left: 1.5vw;
    }
    .intro h2 {
        font-family: Folio;
        color: #F31C29;
        font-size: 3vw;
        text-transform: lowercase;
        font-weight: bold;
    }

    .cp {
        width: 70vw;
        height: 80vh;
        margin: 0vh 15vw 0vh 15vw;
        background-color: transparent;
        border: none;
        position: relative;
    }
    .cp a {
        width: 50vw;
        height: 80vh;
        position: relative;
        font-family: HelveticaNeueCyr;
        font-size: 7vw;
        text-transform: uppercase;
        text-align: left;
        display: flex;
        align-items: center;
        text-decoration: none;
        cursor: url("https://anti-yarek.github.io/portfolio/assets/cursor-pointer-bw.png") 50 50, auto;
    }
    .cp h3 {
        margin-left: 5vw;
    }
    .cp .cp-hover p {
        font-family: Folio;
        font-size: 3vw;
        font-weight: bold;
        position: absolute;
        text-transform: lowercase;
        transform: rotate(10deg) translateY(-15vh) translateX(-58vw);
    }
    .cp .cp-normal {
        color: #F31C29;
        cursor: url("https://anti-yarek.github.io/portfolio/assets/cursor-pointer-bw.png") 50 50, auto;
    }
    .cp .cp-hover {
        color: #F31C29;
        display: none;
        cursor: url("https://anti-yarek.github.io/portfolio/assets/cursor-pointer-bw.png") 50 50, auto;
    }
    .cp:hover .cp-normal {
        display: none;
    }
    .cp:hover .cp-hover {
        display: block;
    }
    .cp:hover {
        background-color: #ffffff;
    }
    .arrow1 {
        max-width: 5vw;
        position: absolute;
        margin-top: -5vh;
        margin-left: 7vw;
    }
    .me-1 {
        height: 50vh;
        position: absolute;
        transform: translateY(-23vh) translateX(-3vw) rotate(-20deg);
    }
    .me-2 {
        height: 150vh;
        position: absolute;
        transform: translateY(-45vh) translateX(-60vw) rotate(5deg);
    }

    .pp {
        width: 70vw;
        height: 80vh;
        margin: 0vh 15vw 0vh 15vw;
        background-color: transparent;
        border: none;
        cursor: pointer;
        position: relative;
    }
    .pp a {
        width: 50vw;
        height: 80vh;
        position: relative;
        font-family: Saint;
        font-size: 8vw;
        text-align: left;
        display: flex;
        align-items: center;
        text-decoration: none;
    }
    .pp h3 {
        margin-left: 5vw;
    }
    .pp .pp-hover p {
        font-family: Folio;
        font-size: 3vw;
        font-weight: bold;
        position: absolute;
        transform: translateY(24vh) translateX(-32vw);
        text-transform: lowercase;
    }
    .pp .pp-normal {
        color: #F31C29;
    }
    .pp .pp-hover {
        color: #F2DC1D;
        display: none;
    }
    .pp:hover .pp-normal {
        display: none;
    }
    .pp:hover .pp-hover {
        display: block;
    }
    .pp:hover {
        background-color: #F31C29;
    }

    .pp-hover img {
        transform-origin: top left;
    }
    .arrow2 {
        max-width: 5vw;
        position: absolute;
        margin-top: -5vh;
        margin-left: 4vw;
    }
    .achtung {
        color: #000;
    }
    .me-1-1 {
        width: 55vw;
        position: absolute;
        transform: translateY(-120vh) translateX(-47vw);
        transform-origin: center;

        animation: me-1-1 0.24s linear 0s infinite alternate;
        -webkit-animation: me-1-1 0.24s linear 0s infinite alternate;
        -moz-animation: me-1-1 0.24s linear 0s infinite alternate;
    }

    @keyframes me-1-1 {
        0%, 24.9% {
            opacity: 1;
        }
        25%, 49.9% {
            opacity: 0;
        }
        50%, 74.9% {
            opacity: 0;
        }
        75%, 100% {
            opacity: 0;
        }
    }
    @-webkit-keyframes me-1-1 {
        0%, 24.9% {
            opacity: 1;
        }
        25%, 49.9% {
            opacity: 0;
        }
        50%, 74.9% {
            opacity: 0;
        }
        75%, 100% {
            opacity: 0;
        }
    }
    @-moz-keyframes me-1-1 {
        0%, 24.9% {
            opacity: 1;
        }
        25%, 49.9% {
            opacity: 0;
        }
        50%, 74.9% {
            opacity: 0;
        }
        75%, 100% {
            opacity: 0;
        }
    }

    .me-1-2 {
        width: 55vw;
        position: absolute;
        transform: translateY(-120vh) translateX(-47vw);
        transform-origin: center;

        animation: me-1-2 0.24s linear 0s infinite alternate;
        -webkit-animation: me-1-2 0.24s linear 0s infinite alternate;
        -moz-animation: me-1-2 0.24s linear 0s infinite alternate;
    }

    @keyframes me-1-2 {
        0%, 24.9% {
            opacity: 0;
        }
        25%, 49.9% {
            opacity: 1;
        }
        50%, 74.9% {
            opacity: 0;
        }
        75%, 100% {
            opacity: 0;
        }
    }
    @-webkit-keyframes me-1-2 {
        0%, 24.9% {
            opacity: 0;
        }
        25%, 49.9% {
            opacity: 1;
        }
        50%, 74.9% {
            opacity: 0;
        }
        75%, 100% {
            opacity: 0;
        }
    }
    @-moz-keyframes me-1-2 {
        0%, 24.9% {
            opacity: 0;
        }
        25%, 49.9% {
            opacity: 1;
        }
        50%, 74.9% {
            opacity: 0;
        }
        75%, 100% {
            opacity: 0;
        }
    }

    .me-1-3 {
        width: 55vw;
        position: absolute;
        transform: translateY(-120vh) translateX(-47vw);
        transform-origin: center;

        animation: me-1-3 0.24s linear 0s infinite alternate;
        -webkit-animation: me-1-3 0.24s linear 0s infinite alternate;
        -moz-animation: me-1-3 0.24s linear 0s infinite alternate;
    }

    @keyframes me-1-3 {
        0%, 24.9% {
            opacity: 0;
        }
        25%, 49.9% {
            opacity: 0;
        }
        50%, 74.9% {
            opacity: 1;
        }
        75%, 100% {
            opacity: 0;
        }
    }
    @-webkit-keyframes me-1-3 {
        0%, 24.9% {
            opacity: 0;
        }
        25%, 49.9% {
            opacity: 0;
        }
        50%, 74.9% {
            opacity: 1;
        }
        75%, 100% {
            opacity: 0;
        }
    }
    @-moz-keyframes me-1-3 {
        0%, 24.9% {
            opacity: 0;
        }
        25%, 49.9% {
            opacity: 0;
        }
        50%, 74.9% {
            opacity: 1;
        }
        75%, 100% {
            opacity: 0;
        }
    }

    .me-1-4 {
        width: 55vw;
        position: absolute;
        transform: translateY(-120vh) translateX(-47vw);
        transform-origin: center;

        animation: me-1-4 0.24s linear 0s infinite alternate;
        -webkit-animation: me-1-4 0.24s linear 0s infinite alternate;
        -moz-animation: me-1-4 0.24s linear 0s infinite alternate;
    }

    @keyframes me-1-4 {
        0%, 24.9% {
            opacity: 0;
        }
        25%, 49.9% {
            opacity: 0;
        }
        50%, 74.9% {
            opacity: 0;
        }
        75%, 100% {
            opacity: 1;
        }
    }
    @-webkit-keyframes me-1-4 {
        0%, 24.9% {
            opacity: 0;
        }
        25%, 49.9% {
            opacity: 0;
        }
        50%, 74.9% {
            opacity: 0;
        }
        75%, 100% {
            opacity: 1;
        }
    }
    @-moz-keyframes me-1-4 {
        0%, 24.9% {
            opacity: 0;
        }
        25%, 49.9% {
            opacity: 0;
        }
        50%, 74.9% {
            opacity: 0;
        }
        75%, 100% {
            opacity: 1;
        }
    }

    .pm {
        width: 70vw;
        height: 80vh;
        margin: 0vh 15vw 0vh 15vw;
        z-index: 2;
    }

    .pm-name {
        width: 50vw;
        transform: translateY(0vh) translateX(3vw);
        cursor: url("https://anti-yarek.github.io/portfolio/assets/cursor-pointer-bw.png") 50 50, auto;
    }
    .me-2-1 {
        width: 28vw;
        position: absolute;
        transform: translateY(-60vh) translateX(-40vw);

        animation: me-2-1 0.24s linear 0s infinite alternate;
        -webkit-animation: me-2-1 0.24s linear 0s infinite alternate;
        -moz-animation: me-2-1 0.24s linear 0s infinite alternate;
    }
    .me-2-2 {
        width: 28vw;
        position: absolute;
        transform: translateY(-60vh) translateX(-40vw);
        
        animation: me-2-2 0.24s linear 0s infinite alternate;
        -webkit-animation: me-2-2 0.24s linear 0s infinite alternate;
        -moz-animation: me-2-2 0.24s linear 0s infinite alternate;
    }
    .me-2-1-reverse {
        width: 28vw;
        position: absolute;
        transform: translateY(-60vh) translateX(13vw) rotate(180deg);
        
        animation: me-2-1 0.24s linear 0s infinite alternate;
        -webkit-animation: me-2-1 0.24s linear 0s infinite alternate;
        -moz-animation: me-2-1 0.24s linear 0s infinite alternate;
    }

    @keyframes me-2-1 {
        0%, 49.9% {
            opacity: 0;
        }
        50%, 100% {
            opacity: 1;
        }
    }
    @-webkit-keyframes me-2-1 {
        0%, 49.9% {
            opacity: 0;
        }
        50%, 100% {
            opacity: 1;
        }
    }
    @-moz-keyframes me-2-1 {
        0%, 49.9% {
            opacity: 0;
        }
        50%, 100% {
            opacity: 1;
        }
    }


    .me-2-2-reverse {
        width: 28vw;
        position: absolute;
        transform: translateY(-60vh) translateX(13vw) rotate(180deg);

        animation: me-2-2 0.24s linear 0s infinite alternate;
        -webkit-animation: me-2-2 0.24s linear 0s infinite alternate;
        -moz-animation: me-2-2 0.24s linear 0s infinite alternate;
    }

    @keyframes me-2-2 {
        0%, 49.9% {
            opacity: 1;
        }
        50%, 100% {
            opacity: 0;
        }
    }
    @-webkit-keyframes me-2-2 {
        0%, 49.9% {
            opacity: 1;
        }
        50%, 100% {
            opacity: 0;
        }
    }
    @-moz-keyframes me-2-2 {
        0%, 49.9% {
            opacity: 1;
        }
        50%, 100% {
            opacity: 0;
        }
    }


    .me-3 {
        width: 25vw;
        position: absolute;
        transform: translateY(-10vh) translateX(-12vw);
    }
    .me-3-top-1 {
        width: 55vw;
        position: fixed;
        transform: translateY(-133vh) translateX(-27vw);

        animation: me-3-top-1 0.24s linear 0s infinite alternate;
        -webkit-animation: me-3-top-1 0.24s linear 0s infinite alternate;
        -moz-animation: me-3-top-1 0.24s linear 0s infinite alternate;
    }

    @keyframes me-3-top-1 {
        0%, 49.9% {
            opacity: 0;
        }
        50%, 100% {
            opacity: 1;
        }
    }
    @-webkit-keyframes me-3-top-1 {
        0%, 49.9% {
            opacity: 0;
        }
        50%, 100% {
            opacity: 1;
        }
    }
    @-moz-keyframes me-3-top-1 {
        0%, 49.9% {
            opacity: 0;
        }
        50%, 100% {
            opacity: 1;
        }
    }

    .me-3-top-2 {
        width: 55vw;
        position: fixed;
        transform: translateY(-133vh) translateX(-27vw);

        animation: me-3-top-2 0.24s linear 0s infinite alternate;
        -webkit-animation: me-3-top-2 0.24s linear 0s infinite alternate;
        -moz-animation: me-3-top-2 0.24s linear 0s infinite alternate;
    }

    @keyframes me-3-top-2 {
        0%, 49.9% {
            opacity: 1;
        }
        50%, 100% {
            opacity: 0;
        }
    }
    @-webkit-keyframes me-3-top-2 {
        0%, 49.9% {
            opacity: 1;
        }
        50%, 100% {
            opacity: 0;
        }
    }
    @-moz-keyframes me-3-top-2 {
        0%, 49.9% {
            opacity: 1;
        }
        50%, 100% {
            opacity: 0;
        }
    }

    #me-3-back {
        position: fixed;
        transform: translateY(-63vh) translateX(323vw);
        width: 40vw;
        height: 100vh;
        overflow: hidden;
    }
    #me-3-back img {
        width: 110vw;
        height: auto;

    }
    .me-3-back {
        width: 110vw;
        position: relative;
        z-index: 1;
        left: 0;
        
        animation: me-3-back 0.24s linear 0s infinite alternate;
        -webkit-animation: me-3-back 0.24s linear 0s infinite alternate;
        -moz-animation: me-3-back 0.24s linear 0s infinite alternate;
    }

    @keyframes me-3-back {
        0%, 49.99% {
            left: -50.5vw;
        }
        50%, 100% {

            left: 0vw;
        }
    }
    @-webkit-keyframes me-3-back {
        0%, 49.99% {
            left: -50.5vw;
        }
        50%, 100% {

            left: 0vw;
        }
    }
    @-moz-keyframes me-3-back {
        0%, 49.99% {
            left: -50.5vw;
        }
        50%, 100% {

            left: 0vw;
        }
    }

    .pmh {
        position: fixed;
        font-family: Folio;
        color: #000;
        font-size: 3vw;
        font-weight: bold;
        top: 20vh;
        left: 320vw;
        transform: translateX(15vw) translateY(25vh);
        text-transform: lowercase;
        z-index: 2;
    }
    .pm:hover {
        background-color: #ff00ff;
        background-position: center;
        background-size: 60vw, 80vh;
    }
    .pm .pm-normal {
        color: #ff00ff;
    }
    .pm .pm-hover {
        color: #F2DC1D;
        display: none;
    }
    .pm:hover .pm-normal {
        display: none;
    }
    .pm:hover .pm-hover {
        display: block;
    }
    .pm + #me-3-back {
        display: none;
    }
    .pm:hover + #me-3-back {
        display: block;
    }

    @font-face {
        font-family: RaglanPunch;
        src: url(../assets/fonts/raglan-punch.woff);
    }
    @font-face {
        font-family: Folio;
        src: url(../assets/fonts/Folio-Bold.woff);
        font-weight: bold;
    }
    @font-face {
        font-family: Folio;
        src: url(../assets/fonts/FOLIOM.woff);
        font-weight: 500;
    }
    @font-face {
        font-family: Shatter;
        src: url(../assets/fonts/Shatter_Plain.woff);
    }
    @font-face {
        font-family: Saint;
        src: url(../assets/fonts/Saint\ Regular.ttf);
    }
    @font-face {
        font-family: HelveticaNeueCyr;
        src: url(../assets/fonts/HelveticaNeueCyr-MediumItalic.ttf);
    }
}


@media only screen and (max-width:641px)  { 
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
    .navbar-left {
        overflow: hidden;
        position: fixed;
        width: 800%;
        z-index: 2;
        
        -moz-transform: translateX(-10vh);
        -moz-transform-origin: top left;
        -webkit-transform: translateX(-10vh);
        -webkit-transform-origin: top left;
        transform: translateX(-10vh);
        transform-origin: top left;
      
        -moz-animation: my-animation 15s linear infinite;
        -webkit-animation: my-animation 15s linear infinite;
        animation: my-animation 15s linear infinite;
    }
    
    /* for Firefox */
    @-moz-keyframes my-animation {
      from {-moz-transform: translateX(-10vh);
            -moz-transform-origin: top left; }
      to {  -moz-transform: translateX(-142vh);
            -moz-transform-origin: top left; }
    }
    
    /* for Chrome */
    @-webkit-keyframes my-animation {
      from {-webkit-transform: translateX(-10vh);
            -webkit-transform-origin: top left; }
      to {  -webkit-transform: translateX(-142vh);
            -webkit-transform-origin: top left; }
    }
    
    @keyframes my-animation {
      from {
        -moz-transform: translateX(-10vh);
        -moz-transform-origin: top left;
        -webkit-transform: translateX(-10vh);
        -webkit-transform-origin: top left;
        transform: translateX(-10vh);
        transform-origin: top left;
      }
      to {
        -moz-transform: translateX(-142vh);
        -moz-transform-origin: top left;
        -webkit-transform: translateX(-142vh);
        -webkit-transform-origin: top left;
        transform: translateX(-142vh);
        transform-origin: top left;
      }
    }
    .navbar-left a {
        float: left;
        display: block;
        text-align: center;
        font-family: Shatter;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 8vh;
        padding: 1.5vh;
    }
    .navbar-right {
        overflow: hidden;
        position: fixed;
        width: 800%;
        z-index: 2;
            
        -moz-transform: translateX(-132vh) translateY(89vh);
        -moz-transform-origin: bottom left;
        -webkit-transform: translateX(-132vh) translateY(89vh);
        -webkit-transform-origin: bottom left;
        transform: translateX(-132vh) translateY(89vh);
        transform-origin: bottom left;
      
        -moz-animation: my-animation2 15s linear infinite;
        -webkit-animation: my-animation2 15s linear infinite;
        animation: my-animation2 15s linear infinite;
    }
    
    /* for Firefox */
    @-moz-keyframes my-animation2 {
      from {-moz-transform: translateX(-132vh) translateY(89vh);
            -moz-transform-origin: bottom left; }
      to {  -moz-transform: translateX(0vh) translateY(89vh);
            -moz-transform-origin: bottom left; }
    }
    
    /* for Chrome */
    @-webkit-keyframes my-animation2 {
      from {-webkit-transform: translateX(-132vh) translateY(89vh);
            -webkit-transform-origin: bottom left; }
      to {  -webkit-transform: translateX(0vh) translateY(89vh);
            -webkit-transform-origin: bottom left; }
    }
    
    @keyframes my-animation2 {
      from {
        -moz-transform: translateX(-132vh) translateY(89vh);
        -moz-transform-origin: bottom left;
        -webkit-transform: translateX(-132vh) translateY(89vh);
        -webkit-transform-origin: bottom left;
        transform: translateX(-132vh) translateY(89vh);
        transform-origin: bottom left;
      }
      to {
        -moz-transform: translateX(0vh) translateY(89vh);
        -moz-transform-origin: bottom left;
        -webkit-transform: translateX(0vh) translateY(89vh);
        -webkit-transform-origin: bottom left;
        transform: translateX(0vh) translateY(89vh);
        transform-origin: bottom left;
      }
    }
    .navbar-right a {
        float: left;
        display: block;
        text-align: center;
        font-family: Shatter;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 8vh;
        padding: 1.5vh;
    }
}
